.Form {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: center;
  padding: 30px 25px 26px 50px;
}
.Input {
  border: none;
  height: 30px;
  color: #011f26;
  flex-grow: 1;
}

.Button {
  background-color: aliceblue; 
  color: #025e73; 
  border: 2px solid #F2668B;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  font-size: 20px;
}
.Button:hover {
  background-color: #F2668B;
  color: aliceblue;
}